node_modules
.bun
.turbo
.DS_Store
*.log
*.tsbuildinfo
apps/*/dist
.astro
packages/*/dist
.env
.env.local
build/
.logs/
release/
release-mock/
.t3
.idea/
apps/web/.playwright
apps/web/playwright-report
apps/web/storybook-static/
apps/web/src/components/__screenshots__
.vitest-*
__screenshots__/
.tanstack
squashfs-root/
.vercel
.gstack/
apps/server/.t3work/
worktrees/
dist-electron/
.electron-runtime/
apps/server/~/.t3code/
~/.t3code/
.t3work-runs/
